.container{
    width: 80vw;
    height: 80vh;
    background-color: blue;
    margin: auto;
    position: relative;
}

.child {
    background: orange;
    width: 60vh;
    height: 10vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.grid-container {
  display: grid;
  background-color: #2196F3;
  /* padding: 10px; */
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  /* padding: 20px;
  font-size: 30px; */
  text-align: center;
}